@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
header{
    background-image: url(../imagens/bg.png);
    background-attachment: fixed;
    background-position: center center;
    padding: 50px;
    height: 456px;
    
    text-align: center;

}
#infos{
    margin: auto;
    padding: 50px;
    color: white;

    & h1{
        margin: 20px;
        font-family:Inter, sans-serif ;
    }
    & address{
        margin: 20px;
    }
    & img{
        height: 185px;
        border-radius: 50%;
        
        margin-bottom: 20px;
    }
    & div{
        padding: 10px 5px;
        width: 250px;
        margin: auto;
        border-radius: 5px;
        background-color: #54CC0A;
        
        font-family:Inter, sans-serif ;
        font-weight: bold;
    }

}
#menu{
    & h2{
        font-size: 30px;
        text-align: center;
        font-family: Inter, sans-serif;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}
#menu-container{
    padding:35px 0px;
    & img{
        height: 144px;
        border-radius: 5px;
    }
}

